.container .page-a {
    width  : 100%;
    height : 100%;
    background-image: url("../images/page-a-bg.png");
    position: absolute;
    z-index: 3;
}
/**
 * 圣诞男孩
 */

.chs-boy {
    width: 1.8rem;
    height: 2.57rem;
    position: absolute;
    z-index: 3;
    left : 1rem;
    top  : .5rem;
    transform: scale(0);
    background: url("../images/chs-boy-run.png");
    background-size: 1900% 100%;
}
/**
 * 男孩走路动作
 */

.boy-animate {
    -webkit-animation-name: person-slow;
    -webkit-animation-duration: 750ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps(1, start);
}

@-webkit-keyframes person-slow {
    0% {
        background-position: 0% 0%
    }
    5.2631578947368425% {
        background-position: 0% 0%
    }
    10.526315789473685% {
        background-position: -100% 0%
    }
    15.789473684210527% {
        background-position: -200% 0%
    }
    21.05263157894737% {
        background-position: -300% 0%
    }
    26.315789473684212% {
        background-position: -400% 0%
    }
    31.578947368421055% {
        background-position: -500% 0%
    }
    36.8421052631579% {
        background-position: -600% 0%
    }
    42.10526315789474% {
        background-position: -700% 0%
    }
    47.36842105263158% {
        background-position: -800% 0%
    }
    52.631578947368425% {
        background-position: -900% 0%
    }
    57.89473684210527% {
        background-position: -1000% 0%
    }
    63.15789473684211% {
        background-position: -1100% 0%
    }
    68.42105263157896% {
        background-position: -1200% 0%
    }
    73.6842105263158% {
        background-position: -1300% 0%
    }
    78.94736842105263% {
        background-position: -1400% 0%
    }
    84.21052631578948% {
        background-position: -1500% 0%
    }
    89.47368421052633% {
        background-position: -1600% 0%
    }
    94.73684210526316% {
        background-position: -1700% 0%
    }
    100% {
        background-position: -1800% 0%
    }
}
/**
 * 人物停止
 */

.boy-stop-animate {
    -webkit-animation-play-state: paused;
}
/*月亮*/

.moon {
    background: #FCF0BC;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    box-shadow: 0 0 1.5rem #FCF0BC;
    position: absolute;
    left: 3.3rem;
    top: .8rem;
    animation:nucleus 2s infinite linear;
}

/**
 * 光晕效果
 */
@-webkit-keyframes nucleus { 
    0% {
        box-shadow: 0 0 0 transparent;
    } 50% { 
        box-shadow: 0 0 1rem #FCF0BC;
    } 100% { 
        box-shadow: 0 0 0 transparent;
    }
}

/**
 * 星星
 */

.page-a svg {
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    left: 1.4rem;
    top: 2.4rem;
    z-index: 10;
} 

/*云*/
.cloudy {
    -webkit-animation: cloudy 5s ease-in-out infinite;
    background: #60768D;
    border-radius: 50%;
    box-shadow: 
      #60768D 1.2rem -0.2rem 0 -0.1rem,
      #60768D 25px -25px,
      #60768D 30px 10px, 
      #60768D 60px 15px 0 -10px, 
      #60768D 85px 5px 0 -5px;

    height: 1rem;
    width: 1rem;
    position: absolute;
    left: .5rem;
    top: 2rem;
    z-index: 5;
}
@-webkit-keyframes cloudy {
    50% { -webkit-transform: translateY(-0.1rem); }
}



/**
 * 窗户
 */
.window {
    background: url("../images/night.JPG") 30% center;
    width: 3rem;
    height: 2rem;
    position: absolute;
    left: 8.2rem;
    top:5.5rem;
    /*box-shadow: 6px 6px 4px #000;*/
    /*border: 1px inset #C60;*/
    cursor: pointer;
    -webkit-perspective: 900;
    -webkit-transform-style: preserve-3d;
    -webkit-transition-property: perspective;
}
.wood {
    display: block;
    overflow: hidden;
    box-shadow: 3px 3px 4px #000;
}
.window-left {
    float: left;
    background: red;
    -webkit-transform: rotateY(0deg);
}
.window-right {
    float: right;
    background: yellow;
    -webkit-transform: rotateY(0deg);
}
.window-left, .window-right {
    width: 50%;
    height:100%;
    box-shadow: none;
    -webkit-transition: 1s ease-in-out;
}

.window-left.hover{
    -webkit-transform:scale(0.9) rotateY(60deg);
     margin-left:-0.37rem;
}
.window-right.hover{
    -webkit-transform:scale(0.9) rotateY(-60deg);
    margin-right:-0.37rem;
}



