.container .page-b {
    width: 100%;
    height: 100%;
    background-image: url("../images/page-a-bg.jpg");
    position: absolute;
    z-index: 4;
}


/*旋转木马*/


div#carousel {
    perspective: 1200px;
    padding-top: 5%;
    font-size: 0;
    margin-bottom: 3rem;
}

figure#spinner {
    transform-style: preserve-3d;
    height: 300px;
    transform-origin: 50% 50% -400px;
    transition: 1s;
}

figure#spinner figure {
    width: 20%;
    max-width: 500px;
    position: absolute;
    left: 40%;
    transform-origin: 50% 50% -400px;
    outline: 1px solid transparent;
    overflow: hidden;
    transition: 1s;
}

figure#spinner figure.focus {
    width: 26%;
    left: 37%;
    margin-top: -3rem;
}

figure#spinner figure img {
    width: 100%;
}

figcaption {
    position: absolute;
    top: 100%;
    width: 100%;
    padding: .3rem;
    z-index: 2;
    font-size: 1.1rem;
    background: rgba(0, 0, 0, 0);
    transition: .6s;
}

figure#spinner figure.current:hover figcaption,
figure#spinner figure.current.caption figcaption {
    top: 90%;
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
}

div#carousel ~ span {
    color: #fff;
    margin: 5%;
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    transition: 0.6s color;
    position: relative;
    margin-top: -6rem;
    border-bottom: none;
    line-height: 0;
}

div#carousel ~ span:hover {
    color: #888;
    cursor: pointer;
}

a {
    color: #6c4176;
    text-decoration: none;
}

.htmleaf-demo {
    width: 100%;
}

.htmleaf-demo a {
    display: inline-block;
    margin: 0.5em;
    padding: 0.6em 1em;
    border: 3px solid #6c4176;
    font-weight: 700;
}

.htmleaf-demo a:hover {
    opacity: 0.6;
}

.htmleaf-demo a.current {
    background: #6c4176;
    color: #fff;
}
