.container .page-b {
    width: 100%;
    height: 100%;
    background-image: url("../images/b/page-b-bg.png");
    position: absolute;
    z-index: 10;
}

.walk-stop{
     -webkit-animation-play-state: paused;
}
.walk-run{
     -webkit-animation-play-state: running;
}


/********************************************************
        
        小女孩动作

**********************************************************/

/**
 * 小女孩看书
 */

.girl {
    width: 3.5rem;
    height: 4.06rem;
    position: absolute;
    z-index: 10;
    left: 1rem;
    top: 3.5rem;
    background: url("../images/b/girl.png");
    background-size: 1400% 100%;
}

/**
 * 起身
 */
.girl-standUp {
    top: 5.5rem;
    left: 1rem;
    background-position-x:-100%;
}

.girl-book-run {
     background-position-x:-200%;
}

/**
 * 站立动作
 */
.girl-stand{
     background-position-x:-700%;
}

/**
 * 小女孩走路
 */
.girl-walk {
    left: 1rem;
    -webkit-animation-name: girlWalk;
    -webkit-animation-duration: 900ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps(4,end);
}
@-webkit-keyframes girlWalk {
    0% {
        background-position-x: -300%;
    }
    100% {
        background-position-x: -700%;
    }
}

/**
 * 小女孩选择3d选择
 */
.girl-choose{
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-name: girlChoose;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: steps(2,end);
}
@-webkit-keyframes girlChoose {
    0% {
        background-position-x: -700%;
    }
    100% {
        background-position-x: -900%;
    }
}

/**
 * 女孩拥抱
 */
.girl-hug{
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-name: girlHug;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: steps(3,end);
}
@-webkit-keyframes girlHug {
    0% {
        background-position-x: -1000%;
    }
    100% {
        background-position-x: -1300%;
    }
}



/**
 * 猫
 */

.cat {
    width: 1.36rem;
    height: 0.88rem;
    position: absolute;
    z-index: 3;
    left: 3.5rem;
    top: 5.5rem;
    background: url("../images/b/cat.png");
    background-size: 100% 100%;
}

.cat-book {
    background: url("../images/b/cat-book.png");
    background-size: 100% 100%;
}


/********************************************************
        
        小男孩动作

**********************************************************/

/**
 * 圣诞小男孩
 */

.christmas-boy {
    width: 3.5rem;
    height: 4.06rem;
    position: absolute;
    z-index: 5;
    right: -2.17rem;
    top: 5.5rem;
    background: url("../images/b/boy.png");
    background-size: 1500% 100%;
    background-position-x: 0%;
}


/**
 * 男孩走路动作
 */

.boy-walk {
    -webkit-animation-name: boyWalk;
    -webkit-animation-duration: 750ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps(4,end);
}
@-webkit-keyframes boyWalk {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -400%;
    }
}


/**
 * 脱衣动作
 */
.boy-strip-1{
    background-position-x:-700%;
}
.boy-strip-2{
     background-position-x:-800%;
}
.boy-strip-3{
    background-position-x:-900%;
}

/**
 * 站立动作
 */
.boy-stand{
     background-position-x:-400%;
}

/**
 * 打开包裹
 */

.boy-unwrapp {
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-name: unwrapp;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: steps(2,end);
}

@-webkit-keyframes unwrapp {
    0% {
        background-position-x: -400%
    }
    100% {
        background-position-x: -600%
    }
}


/**
 * 男孩拥抱
 */
.boy-hug{
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-name: boyHug;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: steps(3,end);
}
@-webkit-keyframes boyHug {
    0% {
        background-position-x: -1000%;
    }
    100% {
        background-position-x: -1300%;
    }
}

/**
 * 男孩头部
 */
.christmas-boy-head{
    left: 7.2rem;
    top: 5.5rem;
    width: 3.5rem;
    height: 4.06rem;
    position: absolute;
    z-index: 12;
    background: url("../images/b/boy.png");
    background-size: 1400% 100%;
    background-position-x: -1300%;
    display: none;
}