html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    -webkit-text-size-adjust: none;
    font-family: sans-serif;
}

h1 {
    font-size: 33px;
    margin: 50px 0 15px;
    text-align: center;
    color: #212121;
}

h2 {
    font-size: 14px;
    font-weight: bold;
    color: #3c3c3c;
    margin: 20px 10px 10px;
}

small {
    margin: 0 10px 30px;
    display: block;
    font-size: 12px;
}

a {
    margin: 0 0 0 10px;
    font-size: 12px;
    color: #3c3c3c;
}

img {
    border: 0;
}

ol,
ul,
li {
    list-style-type: none;
}

html,
body {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    perspective: 1000;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}

.full-screen {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: 100% 100%;
}

.box-sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/**************************************************
 *
 *          首页页面
 *
 **************************************************/

.slot-homepage {
    z-index: 1;
}

.slot-homepage .start-button {
    width: 2.8rem;
    height: 2.8rem;
    position: absolute;
    background-size: 100% 100%;
    top: 70%;
    margin: 0 auto;
    left: 50%;
    margin-left: -1.4rem;
}

.slot-homepage .start-button-hover {}


/**************************************************
 *
 *          游戏页面
 *
 **************************************************/

.slot-gamepage {
    position: absolute;
    z-index: 2;
    background-image: url("../images/slotMachine/slot-gamepage-bg.png");
    background-size: 100% 100%;
}

.slot-gamepage-box {
    width: 13.28rem;
    height: 9.51rem;
    background-image: url("../images/slotMachine/slot-gamepage-box.png");
    background-size: 100% 100%;
    position: absolute;
    top: 30%;
}

.slot-gamepage-rotate {
    width: 4rem;
    height: 4rem;
    background-image: url("../images/slotMachine/slot-gamepage-rotate.png");
    background-size: 100% 100%;
    position: absolute;
    left: 90%;
    top: 20%;
}

.slot-gamepage-roll {
    width: 76%;
    height: 68%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    border: 1px solid blue;
}

.slot-gamepage-roll-container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 33%;
    border: 1px solid #000;
    height: 3rem;
    margin-top: 1.5rem;
    overflow: hidden;
    float: left;
    text-align: center;
}

.slot-gamepage-roll-container:last-child{
    width: 34%;
}

.slot-gamepage-roll-ul {
   /*width: 100%;*/
}

.slot-gamepage-roll-ul li {
    height: 1.5rem;
    /*width: 100%;*/
}

.slot-gamepage-switch {}
